In [2]:
L=[1,2,3,5,4,7,6,"Chirag",True]#list is collection of data type in squre bracket it's in order,mmutable(we can change the item in list after it has been created),duplicate value being allow
L

[1, 2, 3, 5, 4, 7, 6, 'Chirag', True]

In [2]:
type(L)

list

In [2]:
L[0]#indexing-getting value by position
L[-1]

True

In [3]:
L[0:]

[1, 2, 3, 5, 4, 7, 6, 'Chirag', True]

In [4]:
L[:0]

[]

In [8]:
L[2:]

[3, 5, 4, 7, 6, 6]

In [4]:
L[0:2:1]

[1, 2]

In [12]:
L[0:6:2]

[1, 3, 4]

In [15]:
L[:-1]

[1, 2, 3, 5, 4, 7, 6]

In [6]:
L[7]

'Chirag'

In [22]:
L[8]

True

In [23]:
str(L[8])

'True'

In [24]:
len(L)

9

In [27]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [5]:
L.append('e')
L

[1, 2, 3, 5, 4, 7, 6, 'Chirag', True, 'e']

In [8]:
x='rathod'

In [9]:
L.append(x)
L

[1, 2, 3, 5, 4, 7, 6, 'Chirag', True, 'e', 'rathod']

In [6]:
L.insert(0,6)
L

[6, 1, 2, 3, 5, 4, 7, 6, 'Chirag', True, 'e']

In [7]:
L.pop(1)
L

[6, 2, 3, 5, 4, 7, 6, 'Chirag', True, 'e']

In [8]:
L.remove(5)
L

[6, 2, 3, 4, 7, 6, 'Chirag', True, 'e']

In [9]:
L1=[1,2,3,5,3,7,6]

In [10]:
L1.reverse()
L1

[6, 7, 3, 5, 3, 2, 1]

In [87]:
L1.sort()
L1

[1, 2, 3, 3, 5, 6, 7]

In [11]:
L1.index(3)#knowing the position

2

In [12]:
L1.count(3)

2

In [18]:
w=[1,2,3]
f=[1,2,3]
w.extend(f)

In [16]:
w+f

[1, 2, 3, 1, 2, 3]

In [93]:
s='CHIRAG'
s.replace('H','T')

'CTIRAG'

In [94]:
T=(1,2,3,5,4,7,6,"Chirag",True)#tuple is collection of data type in  parethesis it's in order,immutable(we cannot change the item in list after it has been created),duplicate value being allow
T#we can do indexing slicing but can't append and insert

(1, 2, 3, 5, 4, 7, 6, 'Chirag', True)

In [6]:
T1=([1,3,4],4,5,6)
T1[0].append(5)
T1

([1, 3, 4, 5], 4, 5, 6)

In [3]:
S={1,2,3,5,4,7,6,"Chirag",True} #unorder so indexing and slicing we can' do,no duplicate value
S

{1, 2, 3, 4, 5, 6, 7, 'Chirag'}

In [9]:
S.discard(3) #for set discard being use instead of remove
S

{1, 2, 4, 5, 6, 7, 'Chirag'}

In [10]:
print(list(S))

[1, 2, 4, 5, 6, 7, 'Chirag']

In [11]:
print(tuple(S))

(1, 2, 4, 5, 6, 7, 'Chirag')

In [19]:
D={'name':'chirag','roll no':'19BPE020','look':['good','cute','innocent']}#dictionary is collection of key-value orderd mutable no duplicate

In [13]:
D

{'name': 'chirag', 'roll no': '19BPE020', 'look': ['good', 'cute', 'innocent']}

In [32]:
D.keys()

dict_keys(['name', 'roll no', 'look'])

In [33]:
list(D.values())

['chirag', '19BPE020', ['good', 'cute', 'innocent']]

In [34]:
D.items()

dict_items([('name', 'chirag'), ('roll no', '19BPE020'), ('look', ['good', 'cute', 'innocent'])])

In [35]:
D['name']

'chirag'

In [36]:
D['look'][1]

'cute'

In [37]:
D['hobby']='reading'
D

{'name': 'chirag',
 'roll no': '19BPE020',
 'look': ['good', 'cute', 'innocent'],
 'hobby': 'reading'}

In [16]:
#del D['look']

In [17]:
#D.pop('look')

In [20]:
D

{'name': 'chirag', 'roll no': '19BPE020', 'look': ['good', 'cute', 'innocent']}

In [1]:
l=['good', 'cute', 'innocent']
l

['good', 'cute', 'innocent']

In [2]:
l1=[]
for i in l:
    print(i)
    l1.append(i.upper())
s=set(l1)
type(s)
l1

good
cute
innocent

['GOOD', 'CUTE', 'INNOCENT']

In [3]:
l3=[1,2,3,4,5,'good', 'cute', 'innocent',123.5,45,34.6]

In [4]:
l1_num=[]
l1_str=[]
for i in l3:
    if type(i)==int or type(i)==float:
        l1_num.append(i)
       
    elif type(i)==str:
        l1_str.append(i)
print(l1_str)
    
print(l1_num)

['good', 'cute', 'innocent']
[1, 2, 3, 4, 5, 123.5, 45, 34.6]

#for loop is a type of loop that is used to iterate over a sequence( list,tuple,set)
the genral syntax of a for loop is "for item in sequnce"
here item is a variable tha takes on the value of each element in the sequnce one by one.and o the block of indented code following the for line is executed nce for each iteration

In [5]:
a=[1,2,3,'h',5.5,True]

In [6]:
for i in a:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
h <class 'str'>
5.5 <class 'float'>
True <class 'bool'>

In [7]:
for i in a:
    print(i)
else:
    print('loop executed')

1
2
3
h
5.5
True
loop executed

In [12]:
for i in c:
     if i<3:
            print(i)

1
2

In [8]:
c=[1,2,3,45]

break statement-;used to exist loop permently..when break statement encounterd the loop is terminated and the program continues with the next statemnet after the loop

In [13]:
D=['chirag','harsh','jk','mk','pk']

In [14]:
l=[1,5,3,7,4,9]

In [24]:
for i in l:
    if i<7:
        break
        print(i)
else:
    print('t')
for i in l:
    if i<3:
        continue 
        print(i)
else:
    print('t')

t

In [25]:
for i in l:
    if i<7:
        print(i)
for i in l:
    if i<9:
        continue
        print(i)
else:
    print('t')

1
5
3
4
t

In [28]:
for i in D:
    if i=='mk':
        break
    print(i)
for i in D:
    if i=='mk':
        continue
    print(i)
print('done')

chirag
harsh
jk
chirag
harsh
jk
pk
done

continue-continue statement use to skip current iteration of a loop and continue with next iteration.when continue statement is encounered the current iteration is skipped and program continue with the next iteration

In [46]:
for i in l:
    if i<=7:
        continue
    print(i)
else:
    print('t')

9
t

In [42]:
for i in D:
    if i=='mk':
        continue
    print(i)
else:
    print('done')

chirag
harsh
jk
pk
done

In [49]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [129]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [10]:
for i in range(0,12,2):
    print(i)

0
2
4
6
8
10

In [11]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [50]:
for i in range(11):
    if i%2==0:
        print(i)

0
2
4
6
8
10

In [51]:
for i in range(11):
    print(i+2)

2
3
4
5
6
7
8
9
10
11
12

In [61]:
sum=0
for i in range(1,11):
    sum+=i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [59]:
sum=3

for i in range(1,11):
    print(i*sum)

3
6
9
12
15
18
21
24
27
30

while loop is control flow system that allow you to execute block of code repeaedly as long as specified condition become true
the condition is evaluated before each iteration of the loop ,if the condition is true the code inside loop will execute untill condition become false
you need to ensure that the condition will eventualy become false othewise i will continue

In [29]:
for i in [0,1,2]:
    print(i)

0
1
2

In [30]:
j = 0
while j < 3:
    print(j)
    j = j + 1

0
1
2

In [5]:
a = 1
while a<=10:
    print(a)
    a=a+3

1
4
7
10

function is a block of reusable code that performs a specific task this function can take argumnet(input value) and return result(out put value)
to define function python use def key word followd by function name and set of parthess that may contain zero or more arguments
def key word is use to define function
the pass keyword is a null statement that does nothing,it is used as a placeholder is requred bu no action nedd to be taken
the return key word is used to specify value that function should return when it is called
when the return statemnet is executed the funcion terminate immediately and return the value in specified return statment

In [12]:
def test():
    print('this is my function')

In [16]:
test()

this is my function

In [11]:
def test():
    return 'this is my function'
test()+' -chirag'

'this is my function -chirag'

In [15]:
def test1():
    return "chirag",23,34.45,[1,2,3,4]
a,b,c,d=test1()

In [16]:
a

'chirag'

In [22]:
a,b,c=45,56,67
def rt(a,b,c):
    d=a+b/c
    return a

In [24]:
rt(45,56,67)

45

In [36]:
l=['good', 'cute', 'innocent']
#l1=['good', 'cute', 'innocent']

In [37]:
def fg(l=['good', 'cute', 'innocent']):
    l1=[]
    for i in l:
        l1.append(i.upper())
    return l1

In [39]:
fg(l=['good', 'cute', 'innocent'])

['GOOD', 'CUTE', 'INNOCENT']

In [40]:


t=['chirag','harsh','jk','mk','pk']

In [41]:
fg(t)

['CHIRAG', 'HARSH', 'JK', 'MK', 'PK']

In [42]:
l3=[1,2,3,4,5,'good', 'cute', 'innocent',[123.5,45,34.6]]

In [43]:
def gh(l3):
    l1_num=[]
    l1_str=[]
    for i in l3:
         if type(i)==int or type(i)==float:
                 l1_num.append(i)
    return l1_num

In [44]:
gh(l3)

[1, 2, 3, 4, 5]

In [45]:
l4=[1,2,3,4,5,6,7,'good', 'cute', 'innocent',[123.5,45,34.6]]

In [46]:
gh(l4)

[1, 2, 3, 4, 5, 6, 7]

In [49]:
def uy(a):
    l1_num=[]
    for i in a:
        if type(i)==list:
            l1_num.append(i)
        elif type(i)==int or type(i)==float:
            l1_num.append(i)
    return l1_num

In [50]:
uy(l3)

[1, 2, 3, 4, 5, [123.5, 45, 34.6]]

In [20]:
def uj(a):
    l1_num=[]
    for i in a:
        if type(i)==list:
            for j in i:
                 l1_num.append(j)
        else:
             if type(i)==int or type(i)==float:
                     l1_num.append(i)
    return l1_num

In [51]:
def test(n,p):
    return n**p

In [52]:
 test(4,4)

256

In [53]:
uj(l3)

NameError: name 'uj' is not defined

genrator function is use to create a iterator .unlike regular function that execute and reurn value,genrator function use the yield keyword to provide sequnce of value on the fly.
when you call genrator function it return genrator objec.you can iterate over the genrator object to produce a sequnce of value the value are genrated one at a time only when you ask for them

In [ ]:
lambda function is a small ,anonymous function that can have any number of arguments but can only have one expression .the syntax for lamda function is 'lambda wrgumens,;expression'the argument are the parameter for the function and the expression is the  code that is executed when the function is called.

In [26]:
a=lambda n,p :n**p

In [27]:
a(4,4)

256

In [29]:
add=lambda n,p :n+p

In [30]:
add(4,4)

8

In [31]:
c_to_f=lambda c:9/5*c+32

In [33]:
c_to_f(1/5)

32.36

In [34]:
def c_to_f(c):
    return 9/5*c+32

In [35]:
c_to_f(1/5)

32.36

In [36]:
finding_max=lambda x,y:x if x>y else y

In [37]:
finding_max(4,5)

5

map is in built function that takes two or more arguments(a function and one or more iterable code) it applies the given function to each iterable and returns iterator that yield the results

In [54]:
list(map(lambda x:x**2,l))

[4, 16, 36, 64, 25]

In [56]:
list(map(lambda x,y:x+y,l,k))

[3, 7, 11, 15, 14]

In [72]:
list(map(lambda x,y:x*y,l,k))

[2, 12, 30, 56, 45]

In [15]:
list(map(add,l,k))

[3, 7, 11, 15, 14]

reduce is also in built function that takes a function and iterable as arguments and returns a single value by applying the given function to the elements of iterable one by one

In [66]:
reduce(lambda x,y:x if x>y else y,l)

8

In [67]:
reduce(lambda x,y:x if x<y else y,l)

2

In [71]:
reduce(lambda x,y:x+y,l)

25

In [69]:
reduce(lambda x,y:x*y,l)

1920

In [63]:
from functools import reduce

In [47]:
l=[2,4,6,8,5]
k=[1,3,5,7,9]
l+k

[2, 4, 6, 8, 5, 1, 3, 5, 7, 9]

In [51]:
def sq(l):
    l1=[]
    for i in l:
        l1.append(i**2)
    return l1

In [52]:
sq(l)

[4, 16, 36, 64, 25]

In [60]:
s='chirag'
list(map(lambda s:s.upper(),s))

['C', 'H', 'I', 'R', 'A', 'G']

filter is a in built function that takes a function and iterable arguments and returns a iterator that yield a the element of the iterable for which the function return the true value.

In [74]:
list(filter(lambda x:x>6,l))

[8]

In [78]:
list(filter(lambda x:len(x)<7,l2))

['chirag', 'name', 'city']

In [76]:
l2=['chirag','name','city']

oops stands for object -oriented programming it uses object and class to organize code and data.
class is a blue print or template for creating object ,class can have attributes(variable) and method(function)
object is a instance of class it contains the data and method defined in the class

In [80]:
print(type(1))
print(type('c'))

<class 'int'>
<class 'str'>

In [82]:
class test:
    pass
a=test()
print(type(a))

<class '__main__.test'>

In [20]:
class PDEU:
    def welcome_msg():
        print('welcome to PDEU')

In [21]:
PDEU.welcome_msg()

welcome to PDEU

In [25]:
chirag=PDEU()

In [26]:
class PDEU:
    def welcome_msg(self):
        print('welcome to PDEU')

In [27]:
chirag.welcome_msg()

welcome to PDEU

the _init_ method also known as consturctor is called when a instance of a class is created .the purpose of this method is to initialize the attributes of the class
self is a special parameter refers to the instance of class.when you create an object from a class self is automatically passed as the first parameter to any method defined in the class .the self parameter requried in all instance method of class,including init method allows you to acsess and modify the attributes of  instance within the mehtod.without self parameter you woul not be able to refer to the instance or attributes within mehtod

In [115]:
class pwskills:
    def __init__(self,phone_number,mail_id,student_id):
        self.phone_number =phone_number
        self.mail_id=mail_id
        self.student_id=student_id
        
    def return_student_details(self):
        return self.student_id,self.mail_id,self.phone_number

In [116]:
chirag=pwskills(20,'chirag@gmail.come', 4563)

In [119]:
chirag.student_id

4563

In [121]:
chirag.return_student_details()

(4563, 'chirag@gmail.come', 20)

decorator is a way to add or modify the behavior of a object,without changing it's original code.using a decorar in python invlves defining a decorator function which takes another function as input,adds the desired functinality,and then returns the modified function.which takes another function as input,add the desired functinality and the n returns the mdified function.the decrator function can then be applied to any other function,using the "@" symbol before the decorator function name.

In [1]:
def test():
    print(6+7)

In [2]:
test()

13

In [5]:
def decorate(function):
    def inner_decorate():
        print('start function')
        function()
        print('end function')
    return inner_decorate

In [6]:
@decorate
def test():
    print(6+7)

In [7]:
test()

start function
13
end function

In [ ]:
class method are useful when you want to perform some action that involves the class as a whole rather than any individual object of the class.to define a class method in python,you use the @classmethod decorator before the method defination inside the